body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

.categoriesTable {
  border: solid 1px;
}


.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}
